/*  your css code here. If applicable */
.container{
	background-color: red;
}
.main{
	margin-top: -10px;
	padding: 0px;
}

.container .head h2{
	background-color: #011e29;
	color:white;
	padding: 10px;
	text-align: center;
}
.container .main .box-3 img{
	
	width: 150px;
	margin:5px;
	justify-content: center;
}

	#box1{
	background-color: white;
		
		top-margin: 0px;
		padding:0px;
/* 		border:solid black; */
		width: 10px;
		text-align: center;
		width:200px;
		border-radius: 10px;
	}

#box2{
	background-color: white;
		
		top-margin: 0px;
		padding:0px;
/* 		border:solid black; */
	text-align: center;
		width:400px
	
	}
#box3{
	background-color: white;
		padding:0px;
/* 		border:solid black; */
		text-align: center;
		width:200px;
	border-radius: 10px;
	
	}
.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5px;
	align-items: flex-start;
}