/*  your css code here. If applicable */
.main{
	background-color: #f5f5f5;
}

.container .head h2{
	background-color: #011e29;
	color:white;
	padding: 10px;
	text-align: center;
}
.container .main .box-3 img{
	
	width: 150px;
	margin:5px;
	justify-content: center;
}


.main{
	display: flex;
	gap: 20px;
}